<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Cal</servlet-name>
        <servlet-class>model.Cal</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>Cal</servlet-name>
       <url-pattern>/calculate</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>calculate.html</welcome-file>
        <welcome-file>answer.jsp</welcome-file>
    </welcome-file-list>


</web-app>